
    <footer>
        <div>
            <a href="{% url 'contactus' %}">ContactUs</a>
            |<a href="{% url 'term_condition' %}">Term and conditions</a>
            |<a href="{% url 'about_us' %}">about us</a>
            |<a href="{% url 'privicypolicy' %}">privicy&policy</a>
            |<a href="{% url 'shiping' %}">shiping</a>
            |<a href="{% url 'refundcancel' %}">refund&cencel</a>
        </div>
        <p>Copyright © 2024 Aadarsh Singh&Sourabh Dhangar Web Designer </p>
       
     </footer>
  