{% load static %}
{% load active_link_tags %}
{% if user.user_type == 1 %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title" >
                <span> main menu </span>
             </li>
             <li class="{% active_link 'admin_home' 'active' %}">
                <a href="{% url 'admin_home' %}"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> </a></li>
             <li class="submenu {% active_link 'add_customer' 'active' %} {% active_link 'view_all_customer' 'active' %}">
               <a href="#"><i class="fas fa-user-graduate"></i> <span>  Customer</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'add_customer'  %}">Add new Customer</a></li>
                  <li><a href="{% url 'view_all_customer' %}">View all customer</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'set_key' 'active' %}">
                
               <a href="#"><i class="fas fa-user-graduate"></i> <span>Payment</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'set_key' %}">Set Keys</a></li>
               </ul>
            </li>
             <li class="submenu {% active_link 'all_pan_number_list' 'active' %}">
                
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Find Pan Card</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="{% url 'all_pan_number_list' %}">Pan List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'all_pan_manual' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Pan Manual Pdf</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                  
                   <li><a href="{% url 'all_pan_manual' %}">Pan Manual  List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'all_income_detail' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Income Certificate</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'all_income_detail' %}">Income List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'all_domical_detail' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Domical Certificate</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="{% url 'all_domical_detail' %}">Domical List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'all_aadhar_manual' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Pan Number to Aadhar Number</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                  
                   <li><a href="{% url 'all_aadhar_manual' %}">Aadhar Number List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'all_uid_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> UID to pdf</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   
                   <li><a href="{% url 'all_uid_list' %}"> UID List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'all_eid_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Genrate EID to UID</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'all_eid_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_matching_aadhar_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Matching Aadhar card <br> duplicate to pdf</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   
                   <li><a href="{% url 'view_all_matching_aadhar_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_matching_aadhar_number_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Matching Aadhar card  <br>duplicate to number</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                  
                  <li><a href="{% url 'view_all_matching_aadhar_number_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_details_to_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Details To pdf  </span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   
                   <li><a href="{% url 'view_all_details_to_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_rashan_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Rashan Number to UID</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                  
                  <li><a href="{% url 'view_all_rashan_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_dl_pdf_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Dl Pdf</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="{% url 'view_all_dl_pdf_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_find_dl_number_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> find Dl Number</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                  
                   <li><a href="{% url 'view_all_find_dl_number_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_ayushman_card_download_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Ayushman Card Pdf</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                  
                   <li><a href="{% url 'view_all_ayushman_card_download_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_pm_kishan_registration_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Find Pm Kishan Registration <br>Number</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   
                   <li><a href="{% url 'view_all_pm_kishan_registration_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_pm_kishan_payment_details' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> PM Kishan Payment Details</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   
                   <li><a href="{% url 'view_all_pm_kishan_payment_details' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_rc_pdf_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Vehicle RC pdf</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                  
                   <li><a href="{% url 'view_all_rc_pdf_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu {% active_link 'view_all_job_card_pdf_list' 'active' %}">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Job Card Pdf</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="{% url 'view_all_job_card_pdf_list' %}"> List</a></li>
                </ul>
             </li>
             <li class="submenu ">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> पीएम किसान KYC</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="https://exlink.pmkisan.gov.in/aadharekyc.aspx">click hare</a></li>
                  
                </ul>
             </li>
             <li class="submenu ">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> पीएम किसान Status</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="https://pmkisan.gov.in/BeneficiaryStatus_New.aspx">click hare</a></li>
                  
                </ul>
             </li>
             <li class="submenu ">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> सीएम किसान Status</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="https://saara.mp.gov.in/saaraweb/publicreport/pmKisanReport.aspx">click hare</a></li>
                  
                </ul>
             </li>
             <li class="submenu ">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> समग्र परिवार कार्ड प्रिंट करे</span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="https://samagra.gov.in/Public/Dashboard/SamagraProfile.aspx?fw=sf">click hare</a></li>
                  
                </ul>
             </li>
             <li class="submenu ">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Download unique deisebility id </span> <span class="menu-arrow"></span></a>
                <ul>
                  
                   <li><a href="https://www.swavlambancard.gov.in/pwd/pwdtrack">click hare</a></li>
                  
                </ul>
             </li>
             
             
             
             
             
            
             <li class="submenu">
                <a href="#"><i class="fas fa-shield-alt"></i> <span> Help </span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'view_all_help' %}">Help List</a></li>
                  
                </ul>
             </li>
             <li class="submenu">
               <a href="#"><i class="fas fa-shield-alt"></i> <span> Contact Us </span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'view_all_contact' %}">Contact Us List</a></li>
                 
               </ul>
            </li>
             
             
          </ul>
       </div>
    </div>
 </div>
 {% else %}

 <div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>
            <li class="menu-title">
               <span> customer menu </span>
            </li>
            <li class="submenu {% active_link 'customer_home' 'active' %}">
               
               <a href="#"><i class="fa fa-home"></i>
               </i> <span> DashBoard</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'customer_home' %}">Home</a></li>
                  
               </ul>
            </li>
            <li class="submenu {% active_link 'find_pan_card' 'active' %} {% active_link 'find_pan_card_list' 'active' %}">
               
               <a href="#"><i class="fa fa-id-card"></i> <span> Pan Card</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'find_pan_card' %}">New apply</a></li>
                  <li><a href="{% url 'find_pan_card_list' %}">Pan List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'pan_manual_pdf' 'active' %} {% active_link 'pan_manual_pdf_list' 'active' %}">
               <a href="#"><i class="fa fa-id-card"></i> <span> Pan Manual Pdf</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'pan_manual_pdf' %}">new apply</a></li>
                  {% comment %} <li><a href="{% url 'pan_manual_pdf_list' %}">Pan List</a></li> {% endcomment %}
                  <li><a href="{% url 'pan_manual_pdf_list' %}">Pan List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'income_certificate' 'active' %} {% active_link 'incomecertificatelist' 'active' %}">
               <a href="#"><i class="fa fa-certificate"></i> <span> Income Certificate</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'income_certificate' %}">new apply</a></li>
                  <li><a href="{% url 'incomecertificatelist' %}">Income List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'domical_certificate' 'active' %} {% active_link 'domicalcertificatelist' 'active' %}">
               <a href="#"><i class="fa fa-certificate"></i></i> <span> Domical Certificate</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'domical_certificate' %}">new apply</a></li>
                  <li><a href="{% url 'domicalcertificatelist' %}">Pan List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'pannumbertoaadhar' 'active' %} {% active_link 'pantoaadharlist' 'active' %}">
               <a href="#"><i class="fa fa-window-maximize"></i></i> <span> Pan Number to <br> Aadhar  Number</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'pannumbertoaadhar' %}">new apply</a></li>
                  <li><a href="{% url 'pantoaadharlist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'uidtopdf' 'active' %} {% active_link 'uidtopdflist' 'active' %}">
               <a href="#"><i class="fa fa-sticky-note-o"></i> <span> UID to pdf</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'uidtopdf' %}">new apply</a></li>
                  <li><a href="{% url 'uidtopdflist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'eidtouid' 'active' %} {% active_link 'eidtouidlist' 'active' %}">
               <a href="#"><i class="fa fa-id-card-o"></i> <span> Genrate EID to UID</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'eidtouid' %}">new apply</a></li>
                  <li><a href="{% url 'eidtouidlist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'matchingaadharcardduplicatetopdf' 'active' %} {% active_link 'matchingaadharcardduplicatetopdflist' 'active' %}">
               <a href="#"><i class="fa fa-id-badge"></i> <span> Matching Aadhar <br>   duplicate to pdf</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'matchingaadharcardduplicatetopdf' %}">new apply</a></li>
                  <li><a href="{% url 'matchingaadharcardduplicatetopdflist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'matchingaadharcardduplicatetonumber' 'active' %} {% active_link 'matchingaadharcardduplicatetonumberlist' 'active' %}">
               <a href="#"><i class="fa fa-print"></i> <span> Matching Aadhar <br>   duplicate to  number</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'matchingaadharcardduplicatetonumber' %}">new apply</a></li>
                  <li><a href="{% url 'matchingaadharcardduplicatetonumberlist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'detailstopdf' 'active' %} {% active_link 'detailstopdflist' 'active' %}">
               <a href="#"><i class="fa fa-file-powerpoint-o"></i> <span> Details To pdf  </span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'detailstopdf' %}">new apply</a></li>
               <li><a href="{% url 'detailstopdflist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'rashannumberapply' 'active' %} {% active_link 'rashannumberlist' 'active' %}">
               <a href="#"><i class="fa fa-address-card	
                  "></i> <span> Rashan Number to <br> UID</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'rashannumberapply' %}">new apply</a></li>
                  <li><a href="{% url 'rashannumberlist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'dlpdfapply' 'active' %} {% active_link 'dlpdflist' 'active' %}">
               <a href="#"><i class="fa fa-file-powerpoint-o"></i> <span> Dl Pdf</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'dlpdfapply' %}">new apply</a></li>
                  <li><a href="{% url 'dlpdflist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'finddlnumberapply' 'active' %} {% active_link 'finddlnumberlist' 'active' %}">
               <a href="#"><i class="fa fa-window-maximize"></i> <span> find Dl Number</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'finddlnumberapply' %}">new apply</a></li>
                  <li><a href="{% url 'finddlnumberlist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'ayushmancardpdfapply' 'active' %} {% active_link 'findayushmancardpdflist' 'active' %}">
               <a href="#"><i class="	fa fa-drivers-license"></i> <span> Ayushman Card <br> Pdf</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'ayushmancardpdfapply' %}">new apply</a></li>
                  <li><a href="{% url 'findayushmancardpdflist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'pmkishanregistrationnumberapply' 'active' %} {% active_link 'pmkishanregistrationnumberlist' 'active' %}">
               <a href="#"><i class="	fa fa-drivers-license-o"></i> <span> Find Pm Kishan  <br>Registration Number</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'pmkishanregistrationnumberapply' %}">apply</a></li>
                  <li><a href="{% url 'pmkishanregistrationnumberlist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'pmkishanregistpaymentapply' 'active' %} {% active_link 'findpmkishanpaymentdetaillist' 'active' %}">
               <a href="#"><i class="	fa fa-institution"></i> <span> PM Kishan Payment <br> Details</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'pmkishanregistpaymentapply' %}">apply</a></li>
                  <li><a href="{% url 'findpmkishanpaymentdetaillist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'rcpdfapply' 'active' %} {% active_link 'rcpdflist' 'active' %}">
               <a href="#"><i class="fa fa-minus-square-o"></i> <span> Vehicle RC pdf</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'rcpdfapply' %}">apply</a></li>
                  <li><a href="{% url 'rcpdflist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu {% active_link 'jobcardpdfapply' 'active' %} {% active_link 'jobcardpdfist' 'active' %}">
               <a href="#"><i class="	fa fa-money"></i> <span> Job Card Pdf</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="{% url 'jobcardpdfapply' %}">new apply</a></li>
                  <li><a href="{% url 'jobcardpdfist' %}"> List</a></li>
               </ul>
            </li>
            <li class="submenu ">
               <a href="#"><i class="fa fa-file-o"></i> <span> पीएम किसान KYC</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="https://exlink.pmkisan.gov.in/aadharekyc.aspx">click hare</a></li>
                 
               </ul>
            </li>
            <li class="submenu ">
               <a href="#"><i class="fa fa-circle"></i> <span> पीएम किसान Status</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="https://pmkisan.gov.in/BeneficiaryStatus_New.aspx">click hare</a></li>
                 
               </ul>
            </li>
            <li class="submenu ">
               <a href="#"><i class="	fa fa-circle-o"></i> <span> सीएम किसान Status</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="https://saara.mp.gov.in/saaraweb/publicreport/pmKisanReport.aspx">click hare</a></li>
                 
               </ul>
            </li>
            <li class="submenu ">
               <a href="#"><i class="fa fa-file"></i> <span> समग्र परिवार कार्ड  <br>प्रिंट करे</span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="https://samagra.gov.in/Public/Dashboard/SamagraProfile.aspx?fw=sf">click hare</a></li>
                 
               </ul>
            </li>
            <li class="submenu ">
               <a href="#"><i class="fa fa-area-chart"></i> <span> Download unique <br> deisebility id </span> <span class="menu-arrow"></span></a>
               <ul>
                 
                  <li><a href="https://www.swavlambancard.gov.in/pwd/pwdtrack">click hare</a></li>
                 
               </ul>
            </li>
            
            
            
            
            
           
           
            
            
         </ul>
      </div>
   </div>
</div>

 {% endif %}