{% extends "base.html" %}
{% block content %}

    <div class="content container-fluid">
       
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-body">
                   <h1 class="text-center">About Us </h1>
                   <h2 class="container"> 1.What is eseva? </h2>
                   <p class="container">eSeva is a platform where customers can upload their details, and we process them to provide necessary information. Our mission is to simplify processes and provide efficient services to our customers.</p>
                   <p class="container">Founded in 2023, we have been dedicated to serving our customers with the utmost professionalism and reliability.</p> <br>
                   <p class="container">At eSeva, we strive for customer satisfaction and aim to exceed expectations with every interaction.</p><br>
              
              
               <h2 class="container">2. What is our vision ? </h2>
               <p class="container">
                
To provide high quality, secure and reliable Department X services anytime, anywhere for an accelerated inclusive socio-economic development.
</p>
<h2 class="container"> 3. what is our Mission ? :</h2>
<p class="container">
To continuously add value by providing objective and innovative Department X services that evaluate risk, control and governance processes. Promote development of new standards to meet nationwide requirements of citizens. 
               </p>
            </div>
         
               
          </div>
                </div>
             </div>
          </div>
       
{% endblock content %}