{% extends "base.html" %}
{% block content %}

    <div class="content container-fluid">
       
       <div class="container">
          <h2 class="text-center">Privacy and Policy Online Service</h2>
          <p class="container">This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.</p>
          
          <h4> 1.Information Collection And Use</h4>
          <p  class="container">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, postal address, other information (“Personal Information”).</p>
          
          <!-- More sections to be added as per your Privacy Policy content -->
          
          <h4>2.Log Data</h4>
          <p  class="container">We may also collect information that your browser sends whenever you visit our Service (“Log Data”). This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
          
          <h4>3.Cookies</h4>
          <p  class="container">Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and transferred to your device. We use cookies to collect information in order to improve our services for you.</p>
          
          <!-- Additional sections can be added here -->
          
          <h4>4.Do Not Track Disclosure</h4>
          <p  class="container">We support Do Not Track (“DNT”). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.</p>
          
          <!-- More sections as per your Privacy Policy -->
          
          <h4>5.Changes To This Privacy Policy</h4>
          <p  class="container">This Privacy Policy is effective as of November 01, 2018 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
          
          <h4>6.Contact Us</h4>
          <p  class="container">If you have any questions about this Privacy Policy.</p>
      </div>
    
    </div>
 
{% endblock content %}