
{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="content container-fluid">
       <div class="page-header">
         
         
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <h2>Shipping and Delivery : </h2>
                <br>
              <p class="container">
                Welcome to eSeva ! We're thrilled to assist you in getting your services to your doorstep swiftly and securely. 
                Here's everything you need to know about our shipping process:
              </p>
              <p class="container">
               
                    "If your order has not been processed within four business days, 
                    a refund will be initiated to your specified account accordingly."
              </p>
                
              <div class="container text-center">
                <img src="{%static 'assets/img/shiping.png' %}" alt="" width="450" height="300">
              </div>
                </div>
             </div>
          </div>
       </div>
    
{% endblock content %}